<div class="col-sm-4"></div>
<form class="col-sm-4" style="border: 1px solid; padding: 8px;" id="formdata">
	<label>Name:</label><br>
	<input type="text" name="name" class="form-control"><br>
	<label>Email:</label><br>
	<input type="email" name="email" class="form-control"><br>
	<label>Address:</label><br>
	<textarea name="address" class="form-control"></textarea>
	<label>Zip Code:</label><br>
	<input type="number" name="zip" class="form-control"><br>
	<label>Gender:</label><br>
	<input type="radio" name="gender">Male
	<input type="radio" name="gender">Female<br>
	<label>Hobbies:</label><br>
	<input type="checkbox" name="hobbies" value="Cricket">Cricket
	<input type="checkbox" name="hobbies" value="Reading">Reading
	<input type="checkbox" name="hobbies" value="Music">Music
	<input type="checkbox" name="hobbies" value="Programming">Programming
	<input type="checkbox" name="hobbies" value="Dancing">Dancing<br>
	<label>Profile Picture:</label><br>
	<input type="file" name="profile"><br>
	<button class="btn btn-primary" ng-click="addProfiles()">Add User</button>
</form>
<div class="col-sm-4"></div>