<button class="btn btn-primary btn-xs pull-left" ng-click="addGallaryPic()">Add Photos</button>
<button class="btn btn-danger btn-xs pull-left">Delete Photos</button>
<br><br>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-6 shine_me">
	    <img src="http://lorempixel.com/output/food-q-c-320-240-2.jpg" class="img-responsive"/>
        <i class="shine_effect"></i>
	</div>
    <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
        <img src="http://lorempixel.com/output/food-q-c-320-240-4.jpg" class="img-responsive"/>
        <i class="shine_effect"></i>
	</div>
    <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
        <img src="http://lorempixel.com/output/food-q-c-320-240-1.jpg" class="img-responsive"/>
        <i class="shine_effect"></i>
	</div>
    <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
        <img src="http://lorempixel.com/output/food-q-c-320-240-1.jpg" class="img-responsive"/>
        <i class="shine_effect"></i>
	</div>
    <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
        <img src="http://lorempixel.com/output/food-q-c-320-240-2.jpg" class="img-responsive"/>
        <i class="shine_effect"></i>
	</div>
    <div class="col-md-4 col-sm-4 col-xs-6 shine_me">
        <img src="http://lorempixel.com/output/food-q-c-320-240-4.jpg" class="img-responsive"/>
        <i class="shine_effect"></i>
	</div>
</div>
